/* custom */
.navbar-area.navbar-nine, .header-eight {
    /* background-color: #931845; */
}

#nav-tabContent{
    min-height: 200px;
}

.contact-content{
    width: calc(100% - 75px);
}

#projects .single-news img{
    max-height: 236px;
    min-height: 236px;
}